.formulario {
    width: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 7px;
    margin-left:1px;
    margin-bottom: 100px;
}

.boton{
    margin-top: 15px;
}

.dni{
    margin-top: 10px;
}